<%- include('../partials/header') %>
<section id="recipe-index-page">
  <table class="lists" id="recipe">
    <thead>
      <tr>
        <th>recipes</th>
        <th>author</th>
        <th>time to make</th>
        <th>ingredients</th>
      </tr>
    </thead>
    <tbody>
      <% recipes.forEach((r) => { %>
        <tr>
          <td><a class="show-links" href="../recipes/<%= r._id %>"><%= r.recipe %></a></td>
          <td><%= r.author %></td>
          <td><%= r.time %></td>
          <td><pre><%= r.ingredients %></pre></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <br>
  <div class="dash-recipe">
    <form class="new-form" action="../../" method="GET" autocomplete="off">
      <input class="recipes-buttons" href="/" type="submit" value="back to dashboard">
    </form>
    <form class="new-form" action="../recipes/new" method="GET" autocomplete="off">
      <input class="recipes-buttons" href="/recipes/new" type="submit" value="add new recipe">
    </form>
  </div>
</section>
<%- include('../partials/footer') %>