<%- include('../partials/header') %>
<section id="recipe-index-page">
  <div class="lists" id="recipes">
      <% recipes.forEach((r) => { %>
        <div id="recipe-card">
          <div><a class="show-links" href="../recipes/<%= r._id %>"><%= r.recipe %></a></div>
          <div class='line-item'><p class="label">author: </p><p class="name"><%= r.author %></p> <span class="dot">•</span><p class="label">time: </p><p class="name"><%= r.time %></p></div>
          <div> <p class="label">ingredients: </p><pre><p class="ingredients"><%= r.ingredients %></p></pre></div>
        </div>
      <% }); %>
    </div>
    <br>
    <div class="dash-recipe">
      <form class="new-form" action="../../" method="GET" autocomplete="off">
        <input class="general-buttons" href="/" type="submit" value="back to dashboard">
      </form>
      <form class="new-form" action="../recipes/new" method="GET" autocomplete="off">
        <input class="general-buttons" href="/recipes/new" type="submit" value="add new recipe">
      </form>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>