<%- include('../partials/header') %>


<form class="edit-page" action="/items/update/<%= item._id %>?_method=PUT" method="POST" autocomplete="off">
  <label for="item-edit">item:</label>
  <textarea name="item" id="item-edit"><%= item.item %></textarea>
  <label for="quantity-edit">quantity:</label>
  <textarea name="quantity" id="quantity-edit"><%= item.quantity %></textarea>
  <label for="expires-edit">expires:</label>
  <textarea name="expires" id="expires-edit"><%= item.expires %></textarea>
  <button class="general-buttons" type="submit">save changes</button> 
</form>

<%- include('../partials/footer') %>