<%- include('../partials/header') %>



  <table class="lists" id="pantry">
    <thead>
      <tr>
        <th></th>
        <th>pantry item</th>
        <th>quantity</th>
        <th>date purchased</th>
        <th>date to eat by</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach( (i) => { %>
        <tr>
          <td>
            <form action="/items/<%= i._id %>?_method=DELETE"
            id="delete-form" method="POST">
            <button type="submit">X</button></form>
          </td>
          <td><%= i.item %></td>
          <td><%= i.quantity %></td>
          <td><%= i.purchased %></td>
          <td><%= i.expires %></td>
          <td><a href="/items/<%= i._id %>">edit</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>


  <form class="new-form" action="/items" method="POST" autocomplete="off">
    <label>item name
      <input type="text" name="item">
    </label><br>
    <label>quantity
      <input type="number" name="quantity">
    </label><br>
    <label>date purchased
      <input type="text" name="purchased">
    </label><br>
    <label>date to eat by
      <input type="text" name="expires">
    </label><br>
    <input class="entry" type="submit" value="add pantry item">
  </form>

  
<%- include('../partials/footer') %>