<%- include('../partials/header') %>

  <ul class="lists" class ="pantry">
    <% items.forEach(function(i, idx) { %>
      <li>
        <form action="/items/<%= idx %>?_method=DELETE"
          id="delete-form" method="POST">
          <button type="submit">X</button>
        </form>
        <a href="/items/<%= idx %>"><%= i.item %></a>
      </li>
    <% }); %>
    <li>
      <form action="/items" method="POST" autocomplete="off">
        <input type="text" name="item">
        <button type="submit">add new item</button>
      </form>
    </li>
  </ul>

  
<%- include('../partials/footer') %>