<%- include('../partials/header') %>

  <section class="show-page">
    <div>item</div>
    <div><%= item.item %></div>
    <div>quantity</div>
    <div><%= item.quantity %></div>
    <div>date purchased</div>
    <div><%= item.purchased %></div>
    <div>date to eat by</div>
    <div><%= item.expires %></div>
  </section>


<%- include('../partials/footer') %>