<%- include('../partials/header') %>

  <section class="show-page">
    <div>item:</div>
    <div><%= item.item %></div>
    <div>quantity:</div>
    <div><%= item.quantity %></div>
    <div>date to eat by:</div>
    <div><%= item.expires %></div>
    <div class="dash-recipe">
      <form class="new-form" action="../../" method="GET" autocomplete="off">
        <input class="general-buttons" href="/" type="submit" value="back to dashboard">
      </form>
    </div>
    <div class="dash-recipe">
      <form class="new-form" action="/items/<%= item._id %>/edit" method="GET" autocomplete="off">
        <input class="general-buttons" href="/items/edit" type="submit" value="edit item">
      </form>
    </div>
  </section>



<%- include('../partials/footer') %>