<%- include('../partials/header') %>


  <h1>Item #<%= itemNum %></h1>
  <h3><%= item.item %></h3>
  <h3>Complete: <%= item.done ? 'Yes' : 'No' %></h3>
  <a href="/items/<%= itemNum - 1 %>/edit">edit item</a>


<%- include('../partials/footer') %>