<%- include('../partials/header') %>

  <section class="show-page">
    <div>item</div>
    <div><%= item.item %></div>
    <div>quantity</div>
    <div><%= item.quantity %></div>
    <div>date to eat by</div>
    <div><%= item.expires %></div>
    <div><a href="/">go back</a></div>
    <form method="GET" action="/items/<%= item._id %>/edit">
      <button type="submit">edit</button>
    </form>
  </section>



<%- include('../partials/footer') %>