<%- include('partials/header') %>

<div id="pantry-list">
  <table class="lists" id="pantry">
    <thead>
      <tr>
        <th></th>
        <th>pantry item</th>
        <th>date to eat by</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach((i) => { %>
        <tr>
          <td><%= i.quantity %></td>
          <td><a href="/items/<%= i._id %>"><%= i.item %></a></td>
          <td><%= i.expires %></td>
          <td>
            <form action="../items/<%= i._id %>?_method=DELETE"
            id="delete-form" method="POST">
            <button type="submit">X</button></form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <form class="new-form" action="../items" method="POST" autocomplete="off">
    <label>item name
      <input type="text" name="item">
    </label><br>
    <label>quantity
      <input type="number" name="quantity">
    </label><br>
    <label>date to eat by
      <input type="text" name="expires">
    </label>
    <input class="entry" type="submit" value="add pantry item">
  </form>
</div>


<div id="grocery-list">
  <table class="lists" id="grocery">
    <thead>
      <tr>
        <th></th>
        <th>quantity</th>
        <th>grocery</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% groceries.forEach((g) => { %>
        <tr>
          <td></td>
          <td><%= g.quantity %></td>
          <td><a href="../groceries/<%= g._id %>"><%= g.grocery %></a></td>
          <td>
            <form action="../groceries/<%= g._id %>?_method=DELETE"
            id="delete-form" method="POST">
            <button type="submit">X</button></form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <form class="new-form" action="../groceries" method="POST" autocomplete="off">
    <label>grocery
      <input type="text" name="grocery">
    </label><br>
    <label>quantity
      <input type="number" name="quantity">
    </label><br>
    <input class="entry" type="submit" value="add grocery item">
  </form>
</div>


<div id="recipe-list">
  <table class="lists" id="recipe">
    <thead>
      <tr>
        <th></th>
        <th>pinned recipes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td></td>
          <td>recipe 1</td>
          <td>
            <button type="submit">X</button></form>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>recipe 2</td>
          <td>
            <button type="submit">X</button></form>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>recipe 3</td>
          <td>
            <button type="submit">X</button></form>
          </td>
        </tr>
    </tbody>
  </table>


  <form class="new-form" action="../items" method="POST" autocomplete="off">
    <input class="entry" type="submit" value="see all recipes">
    <input class="entry" type="submit" value="add new recipe">
  </form>
</div>

<%- include('partials/footer') %>