<%- include('partials/header') %>

<div class="pantry-list">
  <table class="lists" id="pantry">
    <thead>
      <tr>
        <th></th>
        <th>pantry item</th>
        <th>expires</th>
        <th>notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if (user) {%>
      <% users[0].items.forEach((i, idx) => { %>
        <tr>
          <td><%= i.quantity %></td>
          <td><a class="show-links" href="/items/<%= i._id %>"><%= i.item %></a></td>
          <td><%= i.expires %></td>
          <td><%= i.notes %> </td>
          <td>
            <form action="../items/<%= i._id %>?_method=DELETE"
            id="delete-form" method="POST">
            <button class="x" class="items-buttons" type="submit">X</button></form>
          </td>
        </tr>
      <% }); %>
      <% } %>
    </tbody>
  </table>
  <form class="new-form" action="../items" method="POST" autocomplete="off">
    <label>item name:
      <input class="items-buttons" type="text" name="item">
    </label><br>
    <label>quantity:
      <input class="items-buttons" type="text" name="quantity">
    </label><br>
    <label>expires:
      <input class="items-buttons" type="text" name="expires">
    </label><br>
    <label>any notes:
      <input class="items-buttons" type="text" name="notes">
    </label>
    <input class="items-buttons" class="entry" type="submit" value="add pantry item">
  </form>
</div>


<div class="grocery-list">
  <table class="lists" id="grocery">
    <thead>
      <tr>
        <th></th>
        <th>grocery</th>
        <th>notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% groceries.forEach((g) => { %>
        <tr>
          <td><%= g.quantity %></td>
          <td><a class="show-links" href="../groceries/<%= g._id %>"><%= g.grocery %></a></td>
          <td><%= g.notes %></td>
          <td>
            <form action="../groceries/<%= g._id %>?_method=DELETE"
            id="delete-form" method="POST">
            <button class="x" class="groceries-buttons" type="submit">X</button></form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <form class="new-form" action="../groceries" method="POST" autocomplete="off">
    <label>grocery:
      <input class="groceries-buttons" type="text" name="grocery">
    </label><br>
    <label>quantity:
      <input class="groceries-buttons" type="text" name="quantity">
    </label><br>
    <label>any notes:
      <input class="groceries-buttons" type="text" name="notes">
    </label>
    <input class="groceries-buttons" class="entry" type="submit" value="add grocery item">
  </form>
</div>

<div class="recipe-list">
  <table class="lists" id="recipe">
    <thead>
      <tr>
        <th></th>
        <th>recipes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% recipes.forEach((r) => { %>
        <tr>
          <td></td>
          <td><a class="show-links" href="../recipes/<%= r._id %>"><%= r.recipe %></a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <form class="new-form" action="../recipes" method="POST" autocomplete="off">
    <input class="recipes-buttons" href="/recipes" type="submit" value="see all recipes">
  </form>
  <form class="new-form" action="../recipes/new" method="GET" autocomplete="off">
    <input class="recipes-buttons" href="/recipes/new" type="submit" value="add new recipe">
  </form>
</div>

<%- include('partials/footer') %>