<%- include('../partials/header') %>

  <section class="gro-show-page">
    <div>grocery:</div>
    <div><%= grocery.grocery %></div>
    <div>quantity:</div>
    <div><%= grocery.quantity %></div>
    <div>notes:</div>
    <div><%= grocery.notes %></div>
    <div>
      <form class="new-form" action="../../" method="GET" autocomplete="off">
        <input class="recipes-buttons" href="/" type="submit" value="back to dashboard">
      </form>
    </div>
    <div>
      <form class="new-form" action="/groceries/<%= grocery._id %>/edit" method="GET" autocomplete="off">
        <input class="recipes-buttons" href="/groceries/edit" type="submit" value="edit grocery">
      </form>
    </div>
  </section>


<%- include('../partials/footer') %>

